Repository ubclaunchpad/sync, pull requests merged in 2019-10, with the labels that each got.

#5 Add PR template
  .github/pull_request_template.md
Labels: documentation

#6 Add create-react-app code
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/serviceWorker.ts
  frontend/tsconfig.json
Labels: frontend

#12 Added express backend basic setup
  backend/.gitignore
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/routes.js
  backend/server.js
Labels: backend

#16 Update backend setup to TS
  backend/.gitignore
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/routes.js
  backend/server.js
  backend/src/routes.ts
  backend/src/server.ts
  backend/tsconfig.json
Labels: backend

#17 Add VS Code project settings
  .vscode/settings.json
Labels: build

#18 Add setup instructions
  README.md
Labels: documentation

#19 Youtube embed
  backend/src/routes.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/HomePage.test.tsx
  frontend/src/components/HomePage.tsx
  frontend/src/components/RoomsPage.tsx
  frontend/src/index.tsx
  frontend/src/styles/HomePage.css
Labels: frontend

#24 Backend/db
  backend/package-lock.json
  backend/package.json
  backend/src/db.ts
  backend/src/routes.ts
  backend/src/server.ts
Labels: backend

#29 Add init() to HomePage, delete App.tsx from frontend
  frontend/src/App.tsx
  frontend/src/components/HomePage.tsx
Labels: frontend
