Repository ubclaunchpad/sync, pull requests merged in 2020-01, with the labels that each got.

#47 Backend refactor
  .vscode/settings.json
  backend/.eslintignore
  backend/.eslintrc.js
  backend/.prettierrc.js
  backend/package-lock.json
  backend/package.json
  backend/src/config/logger.ts
  backend/src/constants.ts
  backend/src/core/api.ts
  backend/src/core/database.ts
  backend/src/core/server.ts
  backend/src/db.ts
  backend/src/index.ts
  backend/src/routes.ts
  backend/src/server.ts
  backend/src/sockets/event.ts
  backend/src/sockets/handler.ts
  backend/tsconfig.json
  package-lock.json
Labels: backend

#58 Fix video fast forwarding bug
  frontend/src/components/Room.tsx
Labels: frontend

#59 Add extension recommendation for eslint
  .vscode/extensions.json
Labels: build

#60 Frontend linting
  .vscode/settings.json
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/.prettierrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Browse.tsx
  frontend/src/components/Create.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Join.tsx
  frontend/src/components/Room.tsx
  frontend/src/index.tsx
Labels: build, frontend

#61 Travis CI
  .travis.yml
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Join.tsx
  scripts/build.sh
  scripts/install.sh
Labels: build

#62 created Dockerfile for frontend / added .idea to gitignore
  .gitignore
  frontend/Dockerfile
Labels: build, frontend

#63 Fix and update Docker setup
  backend/Dockerfile
  backend/docker-compose.yml
  backend/src/core/database.ts
  backend/src/core/server.ts
  backend/src/index.ts
  docker-compose.yml
  frontend/Dockerfile
Labels: build
