Repository ubclaunchpad/sync, pull requests merged in 2020-04, with the labels that each got.

#122 Queue styling
  backend/src/models/video.ts
  backend/src/sockets/handler.ts
  frontend/package-lock.json
  frontend/src/components/Queue.tsx
  frontend/src/images/queue-add.svg
  frontend/src/images/queue-delete.svg
  frontend/src/images/queue-text-box-icon.svg
  frontend/src/models/video.ts
  frontend/src/styles/Room.css
Labels: frontend

#124 Dont crash when joining a room from browse rooms, tweak videoChat width
  frontend/src/components/Room.tsx
  frontend/src/components/VideoChat.tsx
Labels: frontend

#128 Add logo and fix icon
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/images/icon-join.svg
Labels: frontend

#130 Update dependencies
  backend/package-lock.json
  frontend/package-lock.json
Labels: dependencies

#131 Bump react-scripts version
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#132 Frontend/browse
  frontend/src/components/Browse.tsx
  frontend/src/styles/Browse.css
Labels: design, frontend

#125 Added autoscroll to chat
  backend/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Chat.tsx
Labels: frontend

#133 Make YouTube player responsive
  frontend/src/components/Player.tsx
  frontend/src/styles/Room.css
Labels: frontend

#138 Adjusted chat vertical size.
  frontend/src/components/Chat.tsx
Labels: frontend

#141 Browse Rooms Polish minus youtube title
  frontend/src/components/Browse.tsx
Labels: frontend

#142 Polish videochat css
  frontend/src/components/VideoChat.tsx
Labels: frontend

#143 Video chat username fixes related to joining from Browse rooms
  frontend/src/components/Room.tsx
  frontend/src/components/VideoChat.tsx
Labels: frontend

#144 Frontend/browseupdate
  backend/package-lock.json
  backend/package.json
  backend/src/core/api.ts
  backend/src/core/globals.d.ts
  frontend/globals.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Browse.tsx
  frontend/src/components/Room.tsx
  frontend/src/styles/Browse.css
Labels: backend, frontend

#146 Videochat && chat shouldnt stick out to the right
  frontend/src/components/Room.tsx
  frontend/src/components/VideoChat.tsx
Labels: frontend

#147 Fix chat CSS
  frontend/src/components/Chat.tsx
Labels: frontend

#148 Improve Room CSS
  frontend/src/components/Room.tsx
  frontend/src/components/Share.tsx
  frontend/src/styles/Room.css
Labels: frontend

#150 Add deployment scripts and update README
  README.md
  backend/Dockerfile
  backend/package.json
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/images/refresh-page-option.svg
Labels: deployment

#151 Changes to deployment scripts
  .travis.yml
  frontend/app.js
  frontend/package-lock.json
  frontend/package.json
  scripts/build.sh
Labels: build, deployment

#157 Add static images
  .static/banner.png
  .static/logo.png
Labels: documentation

#160 Setup for Netlify frontend deployment
  frontend/app.js
  frontend/netlify.toml
  frontend/package.json
Labels: deployment

#161 Misc changes
  .gitignore
  README.md
  backend/Dockerfile
  backend/package.json
  frontend/Dockerfile
Labels: documentation

#162 Fix build scripts
  frontend/package.json
Labels: build

#163 satisfy netlify requirements
  LICENSE
  frontend/src/components/Home.tsx
  frontend/src/styles/Home.css
Labels: deployment, frontend

#165 Migrate to GitHub Actions
  .github/workflows/checks.yml
  .travis.yml
  README.md
  scripts/build.sh
  scripts/install.sh
Labels: build
