Repository ubclaunchpad/sync, pull requests merged in 2020-05, with the labels that each got.

#166 update netlify badge
  README.md
Labels: deployment, documentation

#167 Videochat leave
  backend/src/core/server.ts
  frontend/src/components/VideoChat.tsx
Labels: backend, frontend

#175 Improvements to dev setup
  .vscode/extensions.json
  .vscode/launch.json
  README.md
  backend/.dockerignore
  backend/.eslintignore
  backend/.eslintrc.js
  backend/.prettierrc.js
  backend/Dockerfile
  backend/package-lock.json
  backend/package.json
  backend/src/core/api.ts
  backend/src/core/database.ts
  backend/src/core/server.ts
  backend/src/sockets/handler.ts
  docker-compose.yml
  frontend/.dockerignore
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/.prettierrc.js
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/Browse.tsx
  frontend/src/components/Queue.tsx
  frontend/src/components/Room.tsx
  frontend/src/components/Share.tsx
  frontend/src/components/VideoChat.tsx
Labels: dependencies, documentation

#173 If a room has 0 clients, delete it from db (except default rooms)
  backend/src/core/database.ts
  backend/src/core/server.ts
  backend/src/models/room.ts
  backend/src/sockets/event.ts
  backend/src/sockets/handler.ts
Labels: backend

#177 add fathom tracker script
  frontend/public/index.html
Labels: frontend
