Repository ubclaunchpad/sync, pull requests merged in 2020-03, with the labels that each got.

#77 Backend/explorerooms
  backend/src/core/api.ts
  backend/src/core/database.ts
  backend/src/models/roomlist.ts
  frontend/globals.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Browse.tsx
  frontend/src/index.tsx
  frontend/tsconfig.json
Labels: backend, frontend

#81 Add custom YouTube player component with better types support
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Player.tsx
  frontend/src/components/Room.tsx
Labels: frontend

#83 Remove old package and remove bad rule
  frontend/.eslintrc.js
  package-lock.json
Labels: frontend

#94 Mount api endpoints under /api
  backend/src/core/server.ts
  frontend/src/components/Browse.tsx
  frontend/src/components/Create.tsx
  frontend/src/components/Room.tsx
Labels: backend

#95 Added support for switching videos through props change
  frontend/src/components/Player.tsx
  frontend/src/components/Room.tsx
Labels: frontend

#102 Update dependenceis (security issue)
  backend/package-lock.json
  frontend/package-lock.json
Labels: dependencies

#103 Revert "Update dependenceis (security issue)"
  backend/package-lock.json
  frontend/package-lock.json
Labels: dependencies

#113 Join modal
  frontend/src/components/Room.tsx
  frontend/src/components/Username.tsx
Labels: frontend

#100 Share buttons
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Room.tsx
  frontend/src/components/Share.tsx
Labels: frontend

#116 Chatfeature
  frontend/package.json
  frontend/src/components/Chat.tsx
  frontend/src/components/Room.tsx
  frontend/src/index.tsx
Labels: frontend

#117 Video chat styling
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/VideoChat.tsx
Labels: frontend
